* {
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total dos elementos */
    margin: 0;
    padding: 0;

}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0 auto; /* Margem vertical removida */
    padding: 0px; /* Ajuste o valor conforme necessário */
    max-width: 1200px;
    width: 100%; /* Garante que o conteúdo ocupe toda a largura disponível */
}

.imgbackground {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Reduz a largura para 80% */
    z-index: -1;
    object-fit: cover;
}

.info {
    width: 60%;

    margin-top: 40px;
    color: #FFFFFF;
    z-index: 2;
}

.input-container {
    display: flex;
    flex-direction: column; /* Organiza o input e o botão em colunas */
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    gap: 10px; /* Adiciona um espaço entre o input e o botão */
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
    width: 100%; /* Faz o input ocupar toda a largura do contêiner */
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    background: #2D333B;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    width: 100%; /* Faz o botão ocupar toda a largura do contêiner */
    margin-top: 10px
}


.perfil {
    display: flex;
    margin: 40px 0; /* 20px top and bottom, 0 left and right */
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #E5E5E5; 
    margin-right: 32px;
}

.perfil h3 {
    color: #999999; 
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999; 
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999; 
    font-size: 12px;
    margin: 20px 0 0 0; 
}

.repositorio {
    font-size: 32px;
    color: #FFFFFF; 
    margin: 12px 0;
    text-align: center;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column; /* Coloca os itens um embaixo do outro */
    }

    .perfil {
        flex-direction: column; /* Coloca o perfil em coluna */
        align-items: center; /* Centraliza os itens */
        text-align: center;
    }

    .profile {
        margin: 0 0 20px 0; /* Remove o margin-right e ajusta o espaçamento inferior */
    }

    .info {
        width: 100%; /* Faz o bloco de informações ocupar toda a largura */
        text-align: center;
    }
}
